@model DetailsPartsViewModel
@{
    ViewData["Title"] = "Детайли за обявата";
}
<div>
    <ul class="list-group list-group-horizontal">
        @foreach (var img in Model.Images)
        {
            <li class="list-group-item mx-2 my-2">
                <img src="@img" class="img-thumbnail" alt="" width="300" height="200" />
            </li>
        }
    </ul>
</div>
<div class="row justify-content-center">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Заглавие</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Наименование</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Категория:</td>
                <td>@Model.PartCategory</td>
            </tr>
            <tr>
                <td>Тип превозно средство</td>
                <td>@Model.VehicleType</td>
            </tr>
            <tr>
                <td>Описание</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Състояние</td>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <td>Е-мейл</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Населено място</td>
                <td>@Model.Location</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Цена</td>
                <td>@Model.Price</td>
            </tr>
        </tbody>
    </table>
</div>