@model UserDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Property</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User</td>
            <td>@Model.Username</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Registration date</td>
            <td>@Model.RegistrationDate</td>
            
        </tr>
        <tr>
            <td>Lockout enabled</td>
            <td>@Model.LockoutEnabled</td>
        </tr>
        <tr>
            <td>Lockout end</td>
            <td>@Model.LockoutEnd</td>
        </tr>
        <tr>
            <td>Two-Factor enabled</td>
            <td>@Model.TwoFactorEnabled</td>
        </tr>
        <tr>
            <td>Access failed count</td>
            <td>@Model.AccessFailedCount</td>
        </tr>
        <tr>
            <td>Vehicles offers count</td>
            <td>@Model.VehicleOffers</td>
        </tr>
        <tr>
            <td>Parts offers count</td>
            <td>@Model.PartOffers</td>
        </tr>
    </tbody>
</table>
@if (Model.VehicleOffers > 0 || Model.PartOffers > 0)
{
<div class="justify-content-center">
       <input type="button" class="btn btn-dark" value="Show offers" onclick="location.href='@Url.Action("All", "Users", new { userId = Model.Id })'" />
</div>
}
