@model DetailsOfferViewModel
@{
    ViewData["Title"] = "Детайли за обявата";
}
<div>
    <ul class="list-group list-group-horizontal">
        @foreach (var img in Model.Images)
        {
            <li class="list-group-item mx-2 my-2">
                <img src="@img" class="img-thumbnail" alt="Alternate Text" width="300" height="200" />
            </li>

        }
    </ul>
</div>
<div class="row justify-content-center">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Brand</td>
                <td>@Model.Make</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>@Model.Model</td>
            </tr>
            <tr>
                <td>Manufacturing year</td>
                <td>@Model.ManufacturingYear</td>
            </tr>
            <tr>
                <td>Body type</td>
                <td>@Model.BodyType</td>
            </tr>
            <tr>
                <td>Engine capacity</td>
                <td>@Model.EngineCapacity</td>
            </tr>
            <tr>
                <td>HorsePower</td>
                <td>@Model.HorsePower</td>
            </tr>
            <tr>
                <td>Engine type</td>
                <td>@Model.EngineType</td>
            </tr>
            <tr>
                <td>Transmission</td>
                <td>@Model.Transmission</td>
            </tr>
            <tr>
                <td>Мileage</td>
                <td>@Model.Мileage</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>@Model.Color</td>
            </tr>
            <tr>
                <td>Euro standart</td>
                <td>@Model.EuroStandart</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>@Model.Location</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@Model.Price &euro;</td>
            </tr>
        </tbody>
    </table>
</div>