@using Microsoft.AspNetCore.Identity
@using AutoMarket.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                    <span class="fa fa-car"></span> <span class="title">Auto Market</span>
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    var username = User.Identity.Name;
                    var index = username.IndexOf('@');
                    var length = username.Length - index;
                    var displayName = username.Substring(0, index);

                    @*<a class="logo nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>*@
                    <a class="logo nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span class="fas fa-user welcome"></span>
                        <span>@displayName</span>
                    </a>
                }
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li class="nav-item">
                    <a class="active nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="active nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="All">Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="active nav-link text-light" asp-area="" asp-controller="Parts" asp-action="All">Parts</a>
                </li>
                <li class="nav-item">
                    <a class="active nav-link text-light" asp-area="" asp-controller="Dealers" asp-action="All">Dealers</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
        <div class="container">
            @if (TempData.ContainsKey(AutoMarket.Data.GlobalConstants.AlertMessageKey))
            {
                @if (TempData[GlobalConstants.AlertMessageKey].ToString() == GlobalConstants.DealerNameAllreadyExist)
                {
                    <div class="alert alert-warning text-center" role="alert">
                        @TempData[GlobalConstants.AlertMessageKey]
                    </div>
                }
                else
                {
                    <div class="alert alert-success text-center" role="alert">
                        @TempData[GlobalConstants.AlertMessageKey]
                    </div>
                }
            }
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li class="text-dark"> &copy; 2021 - AutoMarket</li>
                    <li class="text-dark"> Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
                </ul>
                <section class="follow">
                    <h2 class="follow-us-text">Follow Us</h2>
                    <ul class="icons">
                        <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                </section>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
