@model ListPartsAllViewModel
    
<div class="inner">
    <section class="tiles">

        @foreach (var part in @Model.Offers)
        {
            <article>
                <span class="image">
                    <img src="@part.Image" alt="" />
                </span>
                <a href="/Parts/Details?offerId=@part.Id">
                    <h2>@part.Title </h2>

                    <p><strong>@part.Price &euro;</strong></p>

                    <p>
                        <i class="fa fa-info-circle"></i> @part.Status &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </a>
            </article>
        }
    </section>
</div>