@model ListAllVehicleViewModel

<div class="row mt-2 mb-4 justify-content-center">
    @foreach (var offer in @Model.Offers)
    {
        <div class="card col-6 col-lg-3 game-card mx-2 my-2 justify-content-start">
            <img src="@offer.Image"
                 class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
                 data-placement="bottom" title="">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">Brand: @offer.Make </li>
                    <li class="bg-secondary col-sm">Model: @offer.Model</li>
                    <li class="bg-secondary col-sm">Color: @offer.Color</li>
                    <li class="bg-secondary col-sm">Price: @offer.Price &euro;</li>
                </ul>
                <a href="/Vehicles/Details?offerId=@offer.Id" class="btn btn-block btn-primary"><i class="fas fa-info-circle"></i> Details</a>
                @if(this.User.IsInRole("Admin"))
                {
                <a href="/Offers/EditVehicle?offerId=@offer.Id" class="btn btn-block btn-warning"><i class="far fa-edit"></i> Edit</a>
                <a href="/Offers/Delete?offerId=@offer.Id" class="btn btn-block btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                }
            </div>
        </div>
    }
</div>