@model ListMyVehicleViewModel
@{
    ViewData["Title"] = "Моите обяви";
}

<h1 class="text-center mt-2">Моите обяви</h1>

@if (!Model.Offers.Any() && Model.PagesCount > Model.PageNumber)
{
    <div class="text-center">
        <h4>В момента нямате създадени обяви за автомобили</h4>
        <h5>
            За да създадете нова обява натиснете
            <a href="/Offers/CreateVehicle" class="text-decoration">тук</a>
        </h5>
    </div>
}

else
{
    <div class="row mt-2 mb-4 justify-content-center">
        @foreach (var offer in @Model.Offers)
        {
            <div class="card col-6 col-lg-3 game-card mx-2 my-2">
                <img src="@offer.Image"
                     class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
                     data-placement="bottom" title="">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">Марка: @offer.Make </li>
                        <li class="bg-secondary col-sm">Модел: @offer.Model</li>
                        <li class="bg-secondary col-sm">Цвят: @offer.Color</li>
                        <li class="bg-secondary col-sm">Цена: @offer.Price</li>
                    </ul>
                    <hr />
                    <a href="/Offers/Details?offerId=@offer.Id" class="btn btn-block btn-primary">Разгледай обявата</a>
                    <a href="/Offers/Edit?offerId=@offer.Id" class="btn btn-block btn-primary">Редактирай</a>
                    <a href="/Offers/Delete?offerId=@offer.Id" class="btn btn-block btn-danger">Изтрий</a>
                </div>
            </div>
        }

    </div>


}
<hr />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPrevious) { <text>disabled</text>}">
            <a class="page-link" asp-action="MyVehicleOffers" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="MyVehicleOffers" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item">
            <a class="page-link" asp-action="MyVehicleOffers" asp-route-id="@Model.PageNumber">@Model.PageNumber</a>
        </li>
        @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="MyVehicleOffers" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item  @if (!Model.HasNext) { <text>disabled</text>}">
            <a class="page-link " asp-action="MyVehicleOffers" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>
@*<partial name="_PagingPartial" model="@Model" />*@
