@model PartDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<h3 class="text-center">@ViewData["Title"]</h3>
<div>
    <ul class="list-group list-group-horizontal">
        @foreach (var img in Model.Images)
        {
            <li class="list-group-item mx-2 my-2">
                <img src="@img" class="img-thumbnail" alt="" width="300" height="200" />
            </li>
        }
    </ul>
</div>
<div class="row justify-content-center">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Title</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Part category:</td>
                <td>@Model.PartCategory</td>
            </tr>
            <tr>
                <td>Vehicle type</td>
                <td>@Model.VehicleType</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Condition</td>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>@Model.Location</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@Model.Price &euro;</td>
            </tr>
        </tbody>
    </table>
</div>