@model DetailsVehicleOfferViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="inner">
    <h1>@Model.Make @Model.Model <span class="pull-right">&euro; @Model.Price</span></h1>
    <div class="container-fluid">
        <div class="row">

            <partial name="_CarouselPartial" />

            <div class="col-lg-5">
                <h3>Vehicle Description</h3>

                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
<br>

<form action="#">
    <div class="fields">

        <div class="field quarter">
            <label class="m-n">Make</label>

            <input type="text" readonly="" value="@Model.Make">
        </div>

        <div class="field quarter">
            <label class="m-n">Model</label>

            <input type="text" readonly="" value="@Model.Model">
        </div>

        <div class="field quarter">
            <label class="m-n">First registration</label>

            <input type="text" readonly="" value="@Model.ManufacturingYear">
        </div>

        <div class="field quarter">
            <label class="m-n">Mileage</label>

            <input type="text" readonly="" value="@Model.Мileage km">
        </div>

        <div class="field quarter">
            <label class="m-n">Fuel</label>

            <input type="text" readonly="" value="@Model.EngineType">
        </div>

        <div class="field quarter">
            <label class="m-n">Engine size</label>

            <input type="text" readonly="" value="@Model.EngineCapacity cc">
        </div>

        <div class="field quarter">
            <label class="m-n">Power</label>

            <input type="text" readonly="" value="@Model.HorsePower hp">
        </div>

        <div class="field quarter">
            <label class="m-n">Transmission</label>

            <input type="text" readonly="" value="@Model.Transmission">
        </div>

        <div class="field quarter">
            <label class="m-n">Euro standart</label>

            <input type="text" readonly="" value="@Model.EuroStandart">
        </div>

        <div class="field quarter">
            <label class="m-n">Body type</label>

            <input type="text" readonly="" value="@Model.BodyType">
        </div>

        <div class="field quarter">
            <label class="m-n">Color</label>

            <input type="text" readonly="" value="@Model.Color">
        </div>
    </div>
</form>
<partial name="_ContactsPartial" />
